
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "Default")

<body>
    @Html.Action("PartialNavbar", "Default")

    @Html.Action("PartialFeature", "Default")

    @Html.Action("ServicePartial", "Service")

    @Html.Action("PartialAbout", "About")

    @Html.Action("ClassRoomPartial", "ClassRoom")

    @Html.Action("BookASeatPartial", "BookASeat")

    @Html.Action("TeacherPartial", "Teacher")

    @Html.Action("TestimonialPartial", "Testimonial")

    @Html.Action("GalleryPartial", "Gallery")

    @Html.Action("PartialFooter", "Default")

    @Html.Action("PartialScript", "Default")


</body>
</html>