﻿@model KidKinder.Entities.Notification

@{
    ViewBag.Title = "UpdateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5>Bildirim Güncelleme Sayfası</h5>
    </div>
    <div class="card-block">
        <form class="form-material" method="post">
            <input type="hidden" name="NotificationId" value="@Model.NotificationId" />
            <div class="form-group form-default">
                <input type="text" name="Title" value="@Model.Title" placeholder="Başlık" class="form-control">
            </div>
            <div class="form-group form-default">
                <input type="text" name="ImageUrl" value="@Model.ImageUrl" placeholder="Alt Başlık" class="form-control">
            </div>
            <div class="form-group form-default">
                <input type="date" name="NotificationDate" value="@Model.NotificationDate" placeholder="Küçük Resim" class="form-control">
            </div>

            <div class="form-group form-default">
                <textarea name="Description" placeholder="Açıklama" cols="7" rows="10" class="form-control">@Model.Description</textarea>
            </div>

            <button type="submit" class="btn btn-outline-primary col-12">Bildirim Güncelle</button>
        </form>
    </div>
</div>
