﻿@model KidKinder.Entities.Feature

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5>Öne Çıkan Alan Bilgileri</h5>
        <span>Öne Çıkan Alan ile ilgili ekleme, silme, güncelle gibi işlemleri aşağıdan gerçekleştirebilirsiniz.</span>
        <span><b>Not: </b>Tema bütünlüğü sağlanması için sadece güncelleme işlemi yapılabilmektedir..</span>

    </div>
    <div class="card-block table-border-style">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Alt Başlık</th>
                        <th>Resim</th>
                        <th>Açıklama</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">@Model.FeatureId</th>
                        <td>@Model.Header</td>
                        <td>@Model.Title</td>
                        <td>@Model.ImageUrl</td>
                        <td>@Model.Description</td>
                        <td><a href="/AdminFeature/UpdateFeature/@Model.FeatureId" class="btn btn-outline-success col-12">Güncelle</a></td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>